
// Fonts
$body-font-family: 'PT Serif', serif;
$heading-font-family: 'Open Sans', sans-serif;

// Colors
$font-color: #6c696a;
$border-color: #aeaeae;

$green: #d9f593;
$green-hover: #97c728;

$blue: #a9e7fe;
$blue-hover: #45b5e6;

$orange: #ffce8b;
$orange-hover: #fa8926;

$purple: #f0b6ff;
$purple-hover: #b159c7;

$grey: #e8e8e8;
$grey-hover: #a6a6a6;

$white: #fff;